html,
body {

    /*background: url(http://kolesa-darom.ru/img2/bgbody-hotline.gif) repeat-y top;*/
    padding: 0;
    margin: 0;

}
.modal-dialog
{
    width:1200px;
    font-size:12px;
}
/*.modal-content button*/
/*{*/
    /*display: block;*/
    /*margin:5px auto  !important;*/
/*}*/
.stories
{

    font-weight: bold;


}
.stories1
{

    font-weight: bold;
    text-align: center;

}
.stories>ul,.stories1>ul
{
    padding-left:10px;
}
.stories>ul>li,.stories1>ul>li
{
    list-style-type: none;
}
.stories>ul>li>a,.stories1>ul>li>a
{
    color:#0ea3e2 !important;
}
.delivery{
    border-left:1px solid #ddd;

}
.delivery1{
    border-left:1px solid #ddd;
    text-align: center;
}
.delivery p.delivery_title,.delivery1 p.delivery_title
{
    font-weight: bold;
}
.delivery p.delivery_name,.delivery1 p.delivery_name
{
    margin-bottom:2px;


}
.delivery p.delivery_name>a:hover,.delivery1 p.delivery_name>a:hover
{
    color:black !important;
    text-decoration:none;

}
.delivery_name>a
{
    color:#777 !important;
}
.wrap {
    /*min-height: 100%;*/
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    width:100%;
}

.wrap > .container {
    padding: 10px 15px 20px;
    width:880px;
    float:left;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.top-head{
    background-image:url("top-head-20140802.jpg");
    display: table;
    background-color: #0088e4;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    height:240px;
    width :1280px;
    margin: 0 auto;
    margin-top: 50px;
}
.wrap > .container-left {
    position: relative;
    width:200px;
    float : left;
}
.wrap > .container-right {
    position: relative;
    width:200px;
    float : left;
}
.header_img
{
    float: left;
}

.cities{
    float: left;
    height:32px;
}
#city_select{
    cursor:pointer;
}
.cities_select
{
    padding:5px;
    z-index:999999;
    background-color: white;
    display:block;
    position: absolute;
    list-style-type: none;
    overflow-y: scroll; /* Добавляем полосы прокрутки */
    height: 300px; /* Высота блока */

}
.invisible{
    display:none;
}
.not_found
{
    display: none;
}
.cities,.cities_select {
    margin-right: 30px;
    width: 300px;
    border: 1px solid #c9c9c9;
    padding:0;
}
.cities{
    position: relative;
}
.cities>input
{
    border: 0;
    outline: 0;
    background: 0;
    color: #333;
    font-size: 13px;
    height: 28px;
    padding: 0 2.2rem 0 .4rem;
    cursor: default;
    width: 100%;
}
p.ul_title
{
    margin:0;
    background: #f6f6f6;
    font-weight: bold;
    font-size: 13px;
    padding: 0 .7rem;
    height: 24px;
    line-height: 24px;
}
.cities_select li>a{
    font-size: 13px;
    padding: 0 .7rem;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
}
.cities_select li>a
{
    display: block;
    color:#333;
    width:100%;
}
.cities_select li>a:hover
{
    color:white;
    text-decoration: none;
    background-color:#0082C2;
}
.cities span
{
    position:absolute;
    display:block;
}
.cities:after {
    content: "\25BC";
    display: block;
    position: absolute;
    height: 28px;
    width: 2.1rem;
    top: 0;
    right: 0;
    font-size: 1.0 rem;
    line-height: 26px;
    text-align: center;
    color: #ccc;
}
.cities.open:after{
    content: "\25B2";
    color: #000;
}