<!DOCTYPE html>
<html lang="ru"  >

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block meta %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block style %}
        <link rel="stylesheet" type="text/css" href="style.css">
    {% endblock %}

    <title>{% block title %}{% endblock %} - Мой сайт</title>

</head>
<body>
<div id="header">{% block header %}{% endblock %}</div>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; 2014 Колеса даром</a>.
    {% endblock %}
</div>
</body>