.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}


.product-favor,.product-favor-active{display:inline-block;margin-top:10px;font-family:arial,sans-serif}.product-favor a{color:#a0a0a0;text-decoration:none}.product-favor a:hover,.product-favor-active{color:#08c}.product-favor span,.product-favor-active span{vertical-align:top;font-size:11px}
.product-favor:hover span{color:#08c;border-bottom:1px solid #08c}.favor-icon{display:inline-block;width:8px;height:16px;background-image:url(http://kolesa-darom.ru/img2/favor-icon.png);background-repeat:no-repeat}.product-favor .favor-icon{background-position:0 0}.product-favor:hover .favor-icon,.product-favor-active .favor-icon{background-position:-8px 0}

.offers-view-type {
	font-size: 14px;
}


/* Podbor Velosipeda */
.sel-velo {
	width: 668px;
	padding: 16px !important;
	margin-bottom: 14px;
}
.sel-velo-title {
	float: left;
	width: 116px;
}
.sel-velo h2 {
	margin: 0!important;
	margin-top: 8px!important;
	text-transform: uppercase;
	font-size: 11px!important;
	font-weight: bold!important;
	line-height: 14px;
	text-align: center;
}
.sel-velo-1 {
	margin-left: 20px;
	float: left;
	width: 230px;
}
.sel-velo-2 {
	float: left;
}
.sel-velo .sel-item { margin-bottom: 8px !important; width: 200px; }
.sel-velo .sel-item select { width: 200px; height: 24px; }
.sel-velo input[type="submit"], .sel-velo button { margin-top: 2px; }


/*************************************** 
 offer-v2 View List
 **************************************/

/* Position */
.offer-v2-container {
	margin: 0;
	padding: 0;
	width: 700px;
	list-style: none outside none;
}
.offer-v2-container > li {
	display: block;
	margin-bottom: 12px;
	width: 100%;
	background: #fff;
}
.offer-v2-item {
	position: relative;
	padding: 24px 16px !important;
	overflow: hidden;
	background: #fff;
}
.offer-v2-item:hover {
	/*border: 1px solid #aaaaab;
	box-shadow: 1px 1px 2px hsla(0,0%,0%,.2);*/
	/*
ebay
	border-color:#ccc;
	box-shadow:2px 2px 4px rgba(0,0,0,.13);
	-webkit-transition: box-shadow .25s linear;
	transition: box-shadow .25s linear;
	*/
}

/* Inner */
.offer-v2-img {
	float: left;
	position: relative;
	width: 150px;
	height: 150px;
	margin-right: 30px;
	margin-bottom: 6px;
}
.offer-v2-discount {
	position: absolute;
	top: 6px;
	left: -16px;
	width: 50px;
	height: 18px;
	border-radius: 0 3px 3px 0;
	background-color: #da0402;
	color: #fff;
	font-style: italic;
	text-align: center;
}
.offer-v2-img-bg {
	width: 150px;
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	vertical-align: top;
}
.offer-v2-item h3 {
	margin-bottom: 14px;
	font-size: 18px;
}
.offer-v2-item h3 a {
	color: #000;
	text-decoration: none;
}
.offer-v2-item h3 a:hover {
	color: #fe7701;
	text-decoration: underline;
}


.offer-v2-info {
	float: left;
	width: 280px;
}
.offer-v2-order {
	float: left;
	margin-left: 70px;
	width: 130px;
}

.offer-v2-code {
	margin-bottom: 8px;
	color: #a0a0a0;
	font-size: 11px;
	font-family: arial,sans-serif;
}

.offer-v2-price-name {
	font-size: 9px;
	text-transform: uppercase;
}
.offer-v2-price-new {
	margin-bottom: 12px;
	font-size: 25px;
}
.offer-v2-bonus {
	line-height: 16px;
	margin-bottom: 12px;
	padding-bottom: 3px !important;
	/*border-bottom: 1px solid #00b600;*/
}
.offer-v2-bonus a {
	color: #00b600;
	text-decoration: none;
}
.offer-v2-bonus img {
	border: 0;
	width: 16px;
	height: 16px;
	vertical-align: top;
}


.offer-v2-spec {
	margin-bottom: 8px;
	font-size: 11px;
}
.offer-v2-spec-table {
	border-collapse: collapse;
	margin-top: 14px;
	margin-bottom: 0;
}
.offer-v2-spec-table td {
	padding: 3px 0 1px;
	border-top: none;
	font-size: 11px;
	line-height: 12px;
	border-bottom: 1px dotted #e0e0e0;
}
.offer-v2-spec-table-attr {
	/*background-color: #f4f4f4;*/
	width: 110px;
}


.offer-v2-deliv {
	margin-top: 10px;
}
.page-table-deliv {
	border-collapse: collapse;
	margin-bottom: 0;
}
.page-table-deliv td {
	padding: 0 !important;
	border: none;
}
.page-table-deliv-1 {
	color: #00b600;
	font-weight: bold;
	vertical-align: middle !important;
	line-height: 16px !important;
}
.offer-v2-deliv-days {
	color: #da0402;
}
.page-table-deliv-2 {
	width: 70px;
	color: #a0a0a0;
	font-size: 9px !important;
	text-transform: uppercase;
	text-align: center !important;
}
.page-table-deliv-2 span {
	font-size: 18px;
}

.btn-basket {
	background-color:#fe7701;
	border:1px solid #cccccc;border-color:#f78600 #f78600 #a25300;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	color:#fff;
	padding:6px 12px;
	border-radius:5px;
	text-decoration:none;
	font-size:15px
}


/*************************************** 
 offer-v3 View Table
 **************************************/

.offer-v3-table {
	border: 1px solid #dddddd;
	border-radius: 4px;
	border-collapse: collapse;
	margin-bottom: 0;
}
.offer-v3-table th {
	padding: 6px 0 !important;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}
.offer-v3-table td {
	padding: 6px 10px !important;
	font-size: 15px;
	text-align: center;
}

.offer-v3-store {
	width: 58px;
	vertical-align: middle !important;
}
.offer-v3-stock {
	width: 58px;
	vertical-align: middle !important;
}
.offer-v3-price {
	width: 64px;
	vertical-align: middle !important;
}
.offer-v3-order {
	width: 50px;
	vertical-align: middle !important;
}

.offer-v3-name {
	text-align: left !important;
}
.offer-v3-code {
	color: #a0a0a0;
	font-size: 11px;
	font-family: arial,sans-serif;
}

.offer-v3-table h3 {
	font-size: 14px;
}
.offer-v3-table h3 a {
	color: #000;
	text-decoration: none;
}
.offer-v3-table h3 a:hover {
	color: #fe7701;
	text-decoration: underline;
}



/*************************************** 
 offer-v1 View Grid Min
 **************************************/
.min-offer-v1-item {
	padding: 12px !important;
	width: 140px;
	height: 230px;
	background: #fff;
}
.min-offer-v1-img {
	position: relative;
	margin-bottom: 12px;
	text-align: center;
}
.min-offer-v1-img-bg {
	display: inline-block;
	width: 130px;
	height: 130px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	vertical-align: top;
}
.min-offer-v1-item h3 {
	margin-bottom: 5px;
	font-size: 12px;
	height: 30px;
	overflow: hidden;
}
.min-offer-v1-item h3 a {
	color: #000;
	text-decoration: none;
}
.min-offer-v1-item h3 a:hover {
	color: #fe7701;
}
.min-offer-v1-deliv {
	font-size: 11px;
	color: #A0A0A0;
	overflow: hidden;
}
.min-offer-v1-deliv span {
	font-size: 11px;
}
.min-offer-v1-price-new {
	margin: 6px 0 8px;
	font-size: 19px;
	text-align: right;
}



/*************************************** 
 offer-v1 View Grid Max
 **************************************/
.max-offer-v1-item {
	padding: 12px !important;
	width: 204px;
	height: auto;
	/*border: 1px solid #aaaaab;*/
	background: #fff;
	/*box-shadow: 1px 1px 2px hsla(0,0%,0%,.2);*/
	box-shadow: 0 0 18px hsla(0,0%,0%,.3);
}
.max-offer-v1-code {
	margin-bottom: 8px;
	color: #a0a0a0;
	font-size: 11px;
	font-family: arial,sans-serif;
}
.max-offer-v1-img {
	position: relative;
	margin-bottom: 8px;
	text-align: center;
}
.max-offer-v1-img-bg {
	display: inline-block;
	width: 150px;
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	vertical-align: top;
}
.max-offer-v1-item h3 {
	margin-bottom: 8px;
	font-size: 15px;
	height: auto;
	overflow: hidden;
}
.max-offer-v1-item h3 a {
	color: #000;
	text-decoration: none;
}
.max-offer-v1-item h3 a:hover {
	color: #fe7701;
}
.max-offer-v1-deliv {
	float: left;
	width: 110px;
	font-size: 11px;
	color: #A0A0A0;
	overflow: hidden;
}
.max-offer-v1-deliv span {
	font-size: 11px;
}
.max-offer-v1-price-new {
	margin: 12px 0 16px;
	font-size: 19px;
	text-align: right;
}
.max-offer-v1-spec {
	margin-bottom: 8px;
	font-size: 11px;
}
.max-offer-v1-spec-table {
	border-collapse: collapse;
	margin-top: 8px;
	margin-bottom: 0;
}
.max-offer-v1-spec-table td {
	padding: 0;
	border-top: none;
	border-bottom: 1px dotted #e0e0e0;
	font-size: 11px;
	line-height: 14px;
}
.max-offer-v1-spec-table-attr {
	/*background-color: #f4f4f4;*/
	width: 100px;
}
.max-offer-v1-order {
	text-align: center;
}



/*************************************** 
 offer-v1 View Grid
 **************************************/

/* Position */
.offer-v1-container {
	margin: 0;
	padding: 0;
	width: 700px;
	list-style: none outside none; /* http://www.ebay.com/sch/Computers-Tablets-Networking-/58058/i.html?_from=R40&LH_ItemCondition=3&_nkw=apple */
}
.offer-v1-container > li {
	display: block;
	float: left;
	position: relative;
	margin-right: 12px;
	margin-bottom: 12px;
	width: 166px;
	height: 256px;
	background: #fff;
}
.offer-v1-container > li:nth-child(4n) {
	/*background: #f0f0f0;*/
	margin-right: 0;
}
.offer-v1-item {
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px !important;
	width: 140px;
	height: 230px;
	overflow: hidden;
}

/* Inner */
.offer-v1-img {
	position: relative;
	margin-bottom: 12px;
	text-align: center;
}
.offer-v1-discount {
	position: absolute;
	top: 6px;
	left: -12px;
	width: 50px;
	height: 18px;
	border-radius: 0 3px 3px 0;
	background-color: #da0402;
	color: #fff;
	font-style: italic;
}
.offer-v1-tip {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 9px;
	color: #a0a0a0;
	width: 74px;
	text-align: left;
}
.offer-v1-bonus {
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 16px;
	text-align: right;
}
.offer-v1-bonus a {
	text-decoration: none;
	color: #00b600;
}
.offer-v1-bonus img {
	border: 0;
	width: 16px;
	height: 16px;
	vertical-align: top;
}
.offer-v1-img-bg {
	display: inline-block;
	width: 130px;
	height: 130px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	vertical-align: top;
}
.offer-v1-item h3 {
	margin-bottom: 5px;
	font-size: 12px;
	height: 30px;
	overflow: hidden;
}
.offer-v1-item h3 a {
	color: #000;
	text-decoration: none;
}
.offer-v1-item h3 a:hover {
	color: #fe7701;
}
.offer-v1-deliv {
	font-size: 11px;
	color: #A0A0A0;
	overflow: hidden;
}
.offer-v1-deliv span {
	font-size: 11px;
}
.offer-v1-deliv-instock {
	color: #00a900;
}
.offer-v1-deliv-days {
	color: #da0402;
}
.offer-v1-price-new {
	margin: 6px 0 8px;
	font-size: 19px;
	text-align: right;
}
.offer-v1-price-discount {
	color: #da0402;
}
.offer-v1-order,
.offer-v1-code,
.offer-v1-spec {
	display: none;
}
.offer-v1-code {
	margin-bottom: 8px;
	color: #a0a0a0;
	font-size: 11px;
	font-family: arial,sans-serif;
}
.offer-v1-spec {
	margin-bottom: 8px;
	font-size: 11px;
}
.offer-v1-spec-table {
	border-collapse: collapse;
	margin-top: 8px;
	margin-bottom: 0;
}
.offer-v1-spec-table td {
	padding: 0;
	border-top: none;
	border-bottom: 1px dotted #e0e0e0;
	font-size: 11px;
	line-height: 14px;
}
.offer-v1-spec-table-attr {
	/*background-color: #f4f4f4;*/
	width: 100px;
}
.offer-v1-order {
	text-align: center;
}

/* Hover */
.offer-v1-item:hover .offer-v1-order,
.offer-v1-item:hover .offer-v1-code,
.offer-v1-item:hover .offer-v1-spec,
.offer-v1-item:hover .offer-v1-bonus {
	display: block;
}
.offer-v1-item:hover {
	padding: 18px !important;
	width: 200px;
	min-height: 300px;
	height: auto;
	top: -30px;
	left: -36px;
	/*border: 1px solid #aaaaab;*/
	/*box-shadow: 1px 1px 2px hsla(0,0%,0%,.2);*/
	box-shadow: 0 0 22px hsla(0,0%,0%,.5);
	z-index: 1;
}
.offer-v1-item:hover .offer-v1-discount {
	left: -18px;
	width: 70px;
	height: 20px;
	font-size: 15px;
}
.offer-v1-item:hover .offer-v1-img,
.offer-v1-item:hover .offer-v1-deliv,
.offer-v1-item:hover h3 {
	margin-bottom: 8px;
}
.offer-v1-item:hover .offer-v1-deliv {
	float: left;
	width: 110px;
}
.offer-v1-item:hover .offer-v1-img-bg {
	width: 150px;
	height: 150px;
}
.offer-v1-item:hover h3 {
	height: auto;
	font-size: 15px;
}
.offer-v1-item:hover .offer-v1-price-new {
	margin: 12px 0 16px;
}





/*************************************** 
 Offer Full
 **************************************/

.offer-page {
	position: relative;
	padding: 0 16px !important;
	height: 400px;

}
.offer-page-discount {
	width: 70px;
	line-height: 24px;
	border-radius: 3px;
	background-color: #da0402;
	color: #fff;
	font-style: italic;
	font-size: 16px;
	text-align: center;
}
.offer-page h1 {
	font-size: 24px;
	color: #000;
	text-transform: none;
	font-weight: normal;
	letter-spacing: normal;
}
.offer-page-info-kod {
	color: #a0a0a0;
	font-size: 12px;
}
.offer-page-product-rating {
	float: right;
}

.offer-page-info-1,
.offer-page-info-2 {
	padding: 4px !important;
	background: #f4f4f4;
}

.offer-page-discount,
.offer-page h1,
.offer-page-info-1,
.offer-page-info-2 {
	margin: 16px 0 !important;
}

.offer-page-img {
	float: left;
	position: relative;
	width: 300px;
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: right;
	vertical-align: top;
}
.offer-page-img-zoom {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	background: hsla(0,0%,0%,0.2) url(http://kolesa-darom.ru/img2/velo/uni-zoom.png) no-repeat center;
	border-radius: 3px;
}
.product-bonustest{
	position: relative;
	width: 86px;
	height: 34px;
	background: url(/img/ball-1.png) no-repeat;
}
.product-bonustest span{
	display: block;
	position: absolute;
	top: 11px;
	left: 42px;
	font-weight: bold;
	color: #00b600;
	font-size: 12px;
}
.panel-heading h4 a{
	margin: 0 0 20px !important;
	font-size: 18px !important;
	color: #000;
}
.offer-page-desc {
	margin-top: 16px;
	margin-left: 330px;
}

.offer-page-table {
	border-collapse: collapse;
}
.offer-page-table td {
	padding: 2px 5px 0 5px;
	font-size: 12px;
	border-top: none;
	border-bottom: 1px dotted #e0e0e0;
}
.offer-page-table-attr {
	/*background-color: #f4f4f4;*/
	width: 140px;
}

.offer-page-table-deliv {
	border-collapse: collapse;
}
.offer-page-table-deliv td {
	padding: 0 !important;
	font-size: 12px;
	border: none;
}

.offer-page-table-deliv-1 {
	margin: 2px;
	width: 200px;
	color: #00b600;
	font-size: 13px;
	font-weight: bold;
	/*border: 1px solid #00b600;*/
	text-align: center;
	border-radius: 3px;
	vertical-align: middle;
}
.offer-page-table-deliv-2 {
	margin: 2px;
	padding: 2px !important;
	color: #a0a0a0;
	/*border: 1px solid #e0e0e0;*/
	text-align: center;
	border-radius: 3px;
	font-size: 9px;
	text-transform: uppercase;
}
.offer-page-table-deliv-2 span {
	font-size: 18px;
}

.offer-page-price {
	padding: 12px !important;
	/*border-radius: 3px;*/
	background: #f4f4f4;
	/*border-top: 1px solid #e0e0e0;*/
}
.offer-page-price-cta {
	float: right;
	text-align: center;
}
.offer-page-price-old {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-decoration: line-through;
  color: #999;
}
.offer-page-price-name {
	margin-left: 64px;
	font-size: 9px;
	text-transform: uppercase;
}
.offer-page-price-new {
	margin-left: 64px;
	margin-right: 2px;
	font-size: 28px;
}

.page-table {
	border-collapse: collapse;
}
.page-table td {
	padding: 2px 5px 0 5px;
	font-size: 12px;
	border-top: none;
	border-bottom: 1px dotted #e0e0e0;
}
.page-table-attr {
	/*background-color: #f4f4f4;*/
	width: 140px;
}


.offer-page-table,
.offer-page-table-deliv {
	margin-bottom: 12px;
}
.offer-page-bonus {
	margin-left: 64px;
}


.full-view-spec h2 {
	margin: 20px 0 !important;
	font-size: 18px !important;
	color: #000;
}
.offer-page-table-spec {
	border-collapse: collapse;
}
.offer-page-table-spec td {
	font-size: 12px;
}
