table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
    position:relative;

}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border-style:solid ;
    border-color: #FFF;
    border-width: 1px ;
    border-collapse: collapse;
    font-size: 8pt;
    padding: 4px;
    text-align:center;
}
table.tablesorter thead tr .header {
    background-image: url(/../../parts/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
    font-size:10px;
    text-align:center;
}

table.tablesorter tbody tr.odd td {
    background-color:#F5F5F5;

}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/../../parts/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/../../parts/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
.part-name {
    text-transform: lowercase;
    width : 200px;

}
.part-bonus {
    background-image: url(/img/goods-bonuspoint.png);
    background-repeat: no-repeat;
    text-align:center;
}
.sel-parts {
    width: 100%;
//padding: 20px !important;
    margin-bottom: 14px;
    text-align: center;
}
.sel-parts h2 {
    margin-top: 4px;
    margin-bottom: 8px;
}
.sel-parts-1 {
    width: 50%;
    float: left;
    border-right: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sel-parts-2 {
    width: 50%;
    float: left;
    padding-left: 22px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.square {
    height: 20px;
    margin: 0 auto;
    width: 40px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.fine{
    background: #28d228;
}
.good{
    background: #f99b17;
}
.bad{
    background: #ff0000;
}

