
.header {
width: 100%;
background-color: #f8efc0;
}
.tovars_block{
    float:left;
    width:280px;
    height:280px;
    margin:10px;
    padding:10px;
    border: 1px solid black;
    border-radius:10px;
    background-color: white;
}

.tovar_block{
    float:left;
    width:95%;

    margin:10px;
    padding:10px;
    border: 1px solid black;
    border-radius:10px;
    background-color: white;
    position:relative;
}

.item{
    text-align: center;
    position: relative ;
}
.tovar-image{
    border:1px #9d9d9d solid;
    padding :2px;
    margin : 2px;
    width : 320px;
    height: 320px;
    padding: 10px;
    float:left;
}
.tovar-price{
    color:red;
    font-family: "Tahoma", "sans-serif";
    font-size: 16px;
}
.city {
    padding-top:3px;
}
.city_button{
    font-size: 10px;
    margin-left: 1px;
}
.city_butsel{
    font-size: 24px;
    margin: 2px;
}

.btn-grey{
    background-color: #C8C8C8 !important;
    color: #fff !important;
}
/************************************
basket
*************************************/
.basket-itogo{
    font-size: 24px;
    text-align: center;
}
.summa{

}
.basket-grid-footer{
    color:#337ab7;
    margin:-15px 0 25px 0;
}
.basket-grid-footer .basked-all-items{
    float:left;
}
.basket-grid-footer .basket-marked-items{
    float:right;
}
.basketStepsBlock{
    position:relative;
    height:100px;
}
.basketSteps{
    position: absolute;
    width: 100%;
    background-color: #5cb85c;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin: 15px 0px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    display: none;
}
.pulse {
    -webkit-animation: pulse 700ms linear 3;
    -moz-animation: pulse 700ms linear 3;
    -ms-animation: pulse 700ms linear 2;
    animation: pulse 700ms linear 2;
    background-color: #FF6664;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }

}
.btn-in-input{
    position: absolute;
    right: 15px;
    z-index: 5;
}

.store-row{
    padding:5px;
    border-radius: 4px;
    cursor:pointer;
    transition: all 200ms linear;
}
.store-row:hover{
    transform: scale(1.05);
    background-color: #d8fcff;
    box-shadow: 0px 3px 7px #919191;
}
.store-box{
    border-radius: 4px;
    border:1px solid #ddd;
    min-height: 250px;
}
.store-row-cell{
    padding: 5px;
}
.store-name .store-row-cell-header{
    border-radius:3px 3px 0px 0px;
}
.store-addr{
    min-height: 130px;
    max-height: 130px;
}
.store-check{
    display: none;
}
.store-row-cell-header{
    background-color: #4CB4F1;
    color: #fff;
    padding: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
.deliveryChoiceClicker{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.checkedDeliveryBox{
    background-color: #a8ecff;
}
.editableLink{
    border-bottom:1px dashed;
}
.grid-right-up-corner{
    position: relative;
    float:right;
    background-color: #399FEA;
    margin: -8px;
    font-size: 8px;
    padding: 0px 4px 3px 4px;
    border-radius: 0 0 0 8px;
}
.grid-left-up-corner{
    position: relative;
    float:left;
    background-color: #FF6664;
    margin: -8px;
    font-size: 8px;
    padding: 0px 4px 3px 4px;
    border-radius: 0 0 8px 0;
    display:none;
}
td.itemDescription textarea{
    border: none;
    background-color: inherit;
    width: 150px;
    height: 150px;
    resize: none;
}
.editableInput{
    border:1px solid #ccc !important;
}


