/*************************************** 
 offer-v2 View List
 **************************************/
/*Кнопки выбора стиля каталога товаров*/
.btn-group{
	position:relative;
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-size:0;
	vertical-align:middle;
	white-space:nowrap;
	*margin-left:.3em;
}
.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #ccc;
	border-bottom-color: #b3b3b3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled, .btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: .65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

[class^="icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-top: 1px;
}
.icon-th {
	background-position: -240px 0;
}
.icon-th-list {
	background-position: -264px 0;
}
.icon-align-justify {
	background-position: -336px -48px;
}
/* Position */
.borders-lite {
	border: 1px solid #ddd;
	border-radius: 3px;
}
.offer-v2-container {
	margin: 0;
	padding: 0;
	width: 700px;
	list-style: none outside none;
}
.offer-v2-container > li {
	display: block;
	margin-bottom: 12px;
	width: 100%;
	background: #fff;
}
.offer-v2-item {
	position: relative;
	padding: 16px !important;
	overflow: hidden;
	background: #fff;
}
.offer-v2-item:hover {
	border: 1px solid #aaaaab;
	box-shadow: 1px 1px 2px hsla(0,0%,0%,.2);
}
/* Inner */
.offer-v2-img {
	float: left;
	position: relative;
	width: 150px;
	height: 150px;
	margin-right: 30px;
	margin-bottom: 6px;
}
.offer-v2-discount {
	position: absolute;
	top: 6px;
	left: -16px;
	width: 50px;
	height: 18px;
	border-radius: 0 3px 3px 0;
	background-color: #da0402;
	color: #fff;
	font-style: italic;
	text-align: center;
}
.offer-v2-img-bg {
	width: 150px;
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	vertical-align: top;
}
.offer-v2-item h3 {
	margin-bottom: 14px;
	font-size: 18px;
}
.offer-v2-item h3 a {
	color: #000;
	text-decoration: none;
}
.offer-v2-item h3 a:hover {
	color: #fe7701;
	text-decoration: underline;
}
.offer-v2-info {
	float: left;
	width: 280px;
}
.offer-v2-order {
	float: left;
	margin-left: 70px;
	width: 130px;
}
.offer-v2-code {
	margin-bottom: 8px;
	color: #a0a0a0;
	font-size: 11px;
	font-family: arial,sans-serif;
}
.offer-v2-price-name {
	font-size: 9px;
	text-transform: uppercase;
}
.offer-v2-price-new {
	margin-bottom: 12px;
	font-size: 25px;
}
.offer-v2-bonus {
	line-height: 16px;
	margin-bottom: 12px;
	padding-bottom: 3px !important;
}
.offer-v2-bonus a {
	color: #00b600;
	text-decoration: none;
}
.offer-v2-bonus img {
	border: 0;
	width: 16px;
	height: 16px;
	vertical-align: top;
}
.offer-v2-spec {
	margin-bottom: 8px;
	font-size: 11px;
}
.offer-v2-spec-table {
	border-collapse: collapse;
	margin-top: 14px;
	margin-bottom: 0;
}
.offer-v2-spec-table td {
	padding: 3px 0 1px;
	border-top: none;
	font-size: 12px;
	line-height: 14px;
}
.offer-v2-spec-table-attr {
	width: 110px;
}
.offer-v2-deliv {
	margin-top: 10px;
}
.page-table-deliv {
	border-collapse: collapse;
	margin-bottom: 0;
}
.page-table-deliv td {
	padding: 0 !important;
	border: none;
}
.page-table-deliv-1 {
	color: #00b600;
	font-weight: bold;
	vertical-align: middle !important;
	line-height: 16px !important;
}
.offer-v2-deliv-days {
	color: #da0402;
}
.page-table-deliv-2 {
	width: 70px;
	color: #a0a0a0;
	font-size: 9px !important;
	text-transform: uppercase;
	text-align: center !important;
}
.page-table-deliv-2 span {
	font-size: 18px;
}
.btn-basket {
	background-color:#fe7701;
	border:1px solid #cccccc;border-color:#f78600 #f78600 #a25300;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	color:#fff;
	padding:6px 12px;
	border-radius:5px;
	text-decoration:none;
	font-size:15px
}

/*************************************** 
 offer-v3 View Table
 **************************************/
.offer-v3-table {
	border: 1px solid #dddddd;
	border-radius: 4px;
	border-collapse: collapse;
	margin-bottom: 0;
}
.offer-v3-table th {
	padding: 6px 0 !important;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}
.offer-v3-table td {
	padding: 6px 10px !important;
	font-size: 15px;
	text-align: center;
}
.offer-v3-store {
	width: 58px;
	vertical-align: middle !important;
}
.offer-v3-stock {
	width: 58px;
	vertical-align: middle !important;
}
.offer-v3-price {
	width: 64px;
	vertical-align: middle !important;
}
.offer-v3-order {
	width: 50px;
	vertical-align: middle !important;
}
.offer-v3-name {
	text-align: left !important;
}
.offer-v3-code {
	color: #a0a0a0;
	font-size: 11px;
	font-family: arial,sans-serif;
}
.offer-v3-table h3 {
	font-size: 14px;
}
.offer-v3-table h3 a {
	color: #000;
	text-decoration: none;
}
.offer-v3-table h3 a:hover {
	color: #fe7701;
	text-decoration: underline;
}

/*************************************** 
 offer-v1 View Grid
 **************************************/
/* Position */
.offer-v1-container {
	margin: 0;
	padding: 0;
	width: 700px;
	list-style: none outside none;
}
.offer-v1-container > li {
	display: block;
	float: left;
	position: relative;
	margin-right: 12px;
	margin-bottom: 12px;
	width: 166px;
	height: 248px;
	background: #fff;
}
.offer-v1-container > li:nth-child(4n) {
	margin-right: 0;
}
.offer-v1-item {
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px !important;
	width: 140px;
	height: 222px;
	overflow: hidden;
}
/* Inner */
.offer-v1-img {
	position: relative;
	margin-bottom: 6px;
	text-align: center;
}
.offer-v1-discount {
	position: absolute;
	top: 6px;
	left: -12px;
	width: 50px;
	height: 18px;
	border-radius: 0 3px 3px 0;
	background-color: #da0402;
	color: #fff;
	font-style: italic;
}
.offer-v1-img-bg {
	display: inline-block;
	width: 130px;
	height: 130px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	vertical-align: top;
}
.offer-v1-item h3 {
	margin-bottom: 5px;
	font-size: 12px;
	height: 30px;
	overflow: hidden;
}
.offer-v1-item h3 a {
	color: #000;
}
.offer-v1-item h3 a:hover {
	color: #fe7701;
}
.offer-v1-bonus {
	line-height: 16px;
	text-align: right;
}
.offer-v1-bonus a {
	text-decoration: none;
	color: #00b600;
}
.offer-v1-bonus img {
	border: 0;
	width: 16px;
	height: 16px;
	vertical-align: top;
}
.offer-v1-deliv {
	font-size: 11px;
	color: #A0A0A0;
	overflow: hidden;
}
.offer-v1-deliv span {
	font-size: 11px;
}
.offer-v1-deliv-instock {
	color: #00a900;
}
.offer-v1-deliv-days {
	color: #da0402;
}
.offer-v1-price-new {
	margin: 6px 0 8px;
	font-size: 19px;
	text-align: right;
}
.offer-v1-price-discount {
	color: #da0402;
}
.offer-v1-order,
.offer-v1-code,
.offer-v1-spec,
.offer-v1-bonus {
	display: none;
}
.offer-v1-code {
	margin-bottom: 8px;
	color: #a0a0a0;
	font-size: 11px;
	font-family: arial,sans-serif;
}
.offer-v1-spec {
	margin-bottom: 8px;
	font-size: 11px;
}
.offer-v1-spec-table {
	border-collapse: collapse;
	margin-top: 8px;
	margin-bottom: 0;
}
.offer-v1-spec-table td {
	padding: 0;
	border-top: none;
	border-bottom: 1px dotted #e0e0e0;
	font-size: 11px;
	line-height: 14px;
}
.offer-v1-spec-table-attr {
	width: 110px;
}
.offer-v1-order {
	text-align: center;
}
/* Hover */
.offer-v1-item:hover .offer-v1-order,
.offer-v1-item:hover .offer-v1-code,
.offer-v1-item:hover .offer-v1-spec,
.offer-v1-item:hover .offer-v1-bonus {
	display: block;
}
.offer-v1-item:hover {
	padding: 18px !important;
	width: 200px;
	min-height: 300px;
	height: auto;
	top: -30px;
	left: -36px;
	border: 1px solid #aaaaab;
	box-shadow: 1px 1px 2px hsla(0,0%,0%,.2);
	z-index: 1;
}
.offer-v1-item:hover .offer-v1-discount {
	left: -18px;
	width: 70px;
	height: 20px;
	font-size: 15px;
}
.offer-v1-item:hover .offer-v1-img,
.offer-v1-item:hover .offer-v1-deliv,
.offer-v1-item:hover h3 {
	margin-bottom: 8px;
}
.offer-v1-item:hover .offer-v1-deliv {
	float: left;
	width: 110px;
}
.offer-v1-item:hover .offer-v1-img-bg {
	width: 150px;
	height: 150px;
}
.offer-v1-item:hover h3 {
	height: auto;
}
.offer-v1-item:hover .offer-v1-price-new {
	margin: 8px 0 12px;
}
.icon-shopping-cart {
	background-position: -360px -120px;
}
.icon-th-large {
	background-position: -216px 0;
}
.icon-th {
	background-position: -240px 0;
}
.icon-th-list {
	background-position: -264px 0;
}
.icon-align-justify {
	background-position: -336px -48px;
}
.icon-list {
	background-position: -360px -48px;
}