
.header {
width: 800px;
background-color: #f8efc0;
}
.tovar_block{
    float:left;
    width:280px;
    height:280px;
    margin:10px;
    padding:10px;
    border: 1px solid black;
    border-radius:10px;
    background-color: white;
}

.item{
    text-align: center;
    position: relative ;
    overflow: ;
}