
#parent_popup {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#popup {
    background: #fff;
    width: 520px;
    margin: 10% auto;
    padding: 20px;
    border: 10px solid #ddd;
    position: relative;
    /*--CSS3 CSS3 Тени для Блока--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--CSS3 Закругленные углы--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
p{
    margin:0;
    padding:0;
}
#popup img{
    margin-left:10px;
}

.kv-inline-open{
    display: none;
}
.kv-editable-inline .panel{
    margin-bottom:0px !important;
}
button.btn.btn-sm.btn-default.kv-editable-reset{
    display: none;
}

.kv-editable{
    margin-top:0 !important;
}

.kv-editable-form-inline{
    background-color: #428BCA;
    padding: 1px 15px 6px 3px !important;
    border-radius: 4px;
}
.kv-editable-submit{
    background-color: #428bca;
    border: none;
    color: #fff;
    padding: 6px 10px;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 4px;
}
.editable-inline-in-table{
    position: absolute;
    z-index: 1;
}
.editable-inline-in-table .panel {
    margin-bottom: 0px !important;
    padding: 10px;
    background-color: #428BCA;
    box-shadow: 1px 2px 9px 0px #404040;
    border: none;
}
@media (min-width: 768px) {
    .kv-editable-form-inline .form-group {
        vertical-align: middle !important;
    }
}


