.ORDER_IN_WORK {
  background-color: #f8da4e !important;
  color :#000000 !important;
}
.ORDER_ADOPTED {
    background-color: #11FF88 !important;
    color :#000000 !important;
}
.ORDER_SHIPPED {
    background-color: #00ffff !important;
    color :#000000 !important;
}
.ORDER_SHIPPED_IN_SHOP {
    background-color: yellowgreen !important;
    color :#000000 !important;
}
.ORDER_IN_SHOP {
    background-color: #67b168 !important;
    color :#000000 !important;
}
.ORDER_EXECUTED {
    background-color: #d3d3d3 !important;
    color :#000000 !important;
}
.ORDER_CANCELED {
    background-color: #ff8888 !important;
    color :#000000 !important;
}

#order-modal .modal-dialog{
    min-width:1500px;
}

table.related-table thead tr th {
    padding: 2px 8px;
    font-size: 10px;
    background: #F0AD4E;
    color: #fff;
    border-color: #F0AD4E;
}

table.manager-order-table > thead tr th {
    background: #ddd;
}

