.acatalog-block {
    border-color: #c6c6c6;
    border-style: solid;
    border-width: 1px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    /*margin-right: 5px;*/
    margin-bottom: 30px;
    width:100%;

}
.acatalog-tabs {
    margin: 10px;
}
tr.hide {
    display: none;
}
.album-block{
    border-color: #c6c6c6;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
table.submodel{
    font-size: 12pt;

}
.page_label {
    position: absolute;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    z-index: 999;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: #327E04;
    border-style: solid;
    border-width: 2px;
}
.page_image {
    left: 0px;
    top: 0px;
    position: absolute;
    font-size: 10px;
}
.part-active {
    background-color: #299520 !important;
    color:#fff;

}
.part-active a {
    color:#f8da4e;
}
.part-open {
    background-color: #299520 !important;
    color:#fff;

}
.panel-heading {
    background-color: transparent !important;
}
.page-scroll{
    margin-top: 30px;
    height: 600px;
    overflow: auto;
}
.model-hide {
    opacity: 0.5;
    pointer-events: none;

}