.acatalog-block {
    border-color: #c6c6c6;
    border-style: solid;
    border-width: 1px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.acatalog-tabs {
    margin: 10px;
}
tr.hide {
    display: none;
}
.album-block{
    border-color: #c6c6c6;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
table.submodel{
    font-size: 12pt;

}